.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: $moss;
  font-family: $headers-font;
  font-size: 1.35rem;
  font-weight: 700;
  text-decoration: none;
}

.navbar-brand__mark {
  color: $honey;
}
